body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}
h1 {
    text-align: center;
    color: antiquewhite;
}
h2 {
    text-align: center;
    color: antiquewhite;
}